body {
    margin-top: 10px;
    margin: 100px;
}

h1 {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}

h2 {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}

form{
    display: inline;
    margin : 20px;
    border-radius: 10px;
}

button{
    margin : 20px;
}

