{% extends "base.html" %}

{% block content %}

    <title>Forms</title>
    <h1 >Inscriptions</h1>

    <h2>Formulaire d'enregistrement</h2>
    <form action="#" method="POST">
        <label>Nom</label> :
        <br><input type="text" name="nom" /><br>

        <label>Prénom</label> :
        <br><input type="text" name="prenom" /><br>

        <label>Sexe</label> :<br>
        <select name="sexe" id="sexe-select">
            <option value="m">Masculin</option>
            <option value="f">Féminin</option>
        </select>

        <br><label>Pseudo</label> :<br>
        <input type="text" name="pseudo" /><br> 
        <p3 style="color: crimson;">{{error}}</p>
        <input class = 'button'  type="submit" value="Envoyer" />
    </form>

{% endblock %}