{% extends "base.html" %}

{% block content %}

    <title>Statistics</title>
    <h1 >Statistics</h1>
    <h2>Chargement de fichier</h2>

    <form action = "#" method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit" value="Charger le fichier"/>
    </form>

    <center>
    <h2>Stats du fichier</h2>
        {% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
        {% endfor %}
    </center>
{% endblock %}

