<!doctype html>
<html>

    <head>
        <title>Utilisateurs</title>
        <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css')}}">
        <h1 >Utilisateurs</h1>

    </head>

    <body>
        <a href = "{{url_for('home')}}"> Pages Accueil</a>

        <h2>Liste des utilisateurs</h2>

        <table border="1" cellpadding="5" cellspacing="5">
            {% for row in data %}
                <tr>
                {% for d in row %}
                    <td>{{ d }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>


    </body>
</html>








